<div id="particles-js">
	<div class="header">
		<h1>
        <span class="site-title">
          <span id="typed1"></span>
        </span>
				<br><br>
        <span class="site-description">
          <span id="typed2"></span>
        </span>
    </h1>
		<div class="header-links">
			<a class="link" href="#about" data-scroll></a>
			<a class="link" href="#projects" data-scroll></a>
		</div>
		<div class="header-summary">
			<p>
				When I'm not traveling, I'm based in Frankfurt working for <a href="https://syzygy.de">Syzygy</a>
				as a Linux System Administrator. We do everything in and around a data center.
        <br><br>
				I'm passionate about tech in general, linux specifically, and many other
				related and unrelated things such as web development, android, design, etc. 
        <br><br>
				You can find some of my publicly available <a href="https://ndo.dev/resume/#projects">Projects</a> and <a href="https://ndo.dev/resume">Resume</a> at those links.<br>
		</div>
		<div class="header-icons">
			<a aria-label="Send email" title="email" href="mailto:yo@ni.co.de"><i class="icon fa fa-at"></i></a>
			<a aria-label="My Facebook" title="facebook" target="_blank" href="https://www.facebook.com/asdfjiw"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
			<a aria-label="My Linkedin" title="linkedin" target="_blank" href="https://www.linkedin.com/in/ndom91/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
			<a aria-label="My Github" title="github" target="_blank" href="https://github.com/ndom91"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
			<a aria-label="Resume" title="resume" target="_blank" href="https://ndo.dev/resume"><i class="icon fa fa-paperclip" aria-hidden="true"></i></a>
			<!-- <a aria-label="File Drop" title="upload to nico" target="_blank" href="https://file.ndo.dev/s/QgMDC58PWFmHkFj"><i class="icon fa fa-upload" alt="drop files to nico" aria-hidden="true"></i></a> -->
		</div> 
	</div>
	<a class="down" href="#blog" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
