<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="{{ page.title }}">
  <meta name="twitter:image" content="../assets/img/ndo_logo.png">
  <meta name="twitter:title" content="ndom91's linux [mis]adventures">
  <meta name="twitter:description" content="{{ page.excerpt | uri_escape }}">
  <meta name="twitter:creator" content="@duqdom">

  <!-- Open Graph -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="ndom91's homepage">
  <meta property="og:description" content="[blog] - [mis]adventures in the world of linux system administration ">
  <meta property="og:url" content="http://iamnico.xyz/#{{ page.title }}">
  <meta property="og:image" content="https://iamnico.xyz/particle/assets/img/ndo_logo.png">
  <meta property="og:image:width" content="75px">
  <meta property="og:image:height" content="150px">
  <meta property="fb:app_id" content="153532311991694">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/posts.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|Space+Mono:400,700|Ubuntu+Mono|Roboto+Mono:100,300,300i,500|Overpass+Mono:300,400" rel="stylesheet">
  <meta name="theme-color" content="#1a222c" />
</head>
