.posttlist{
  margin: 0 auto;
  width: 600px;
  text-align: left;
}
ul {
  list-style: none;
}
hr {
  height: 1px;
  border: 0;
  border-top: 4px solid #1a222c;
  padding: 0;
  width: 550px;
  margin-left: 0;
}
.user-details {
  font-family: Roboto Mono;
}
p.user-details-p {
  font-weight: 100;
}
.posttitle {
  margin: 10px 20px;
  font-family: Roboto Mono;
  font-size: 34px;
  text-decoration: none;
  color: #000000;
}
.postdate {
  margin: 0 20px;
  font-size: 14px;
  font-family: Roboto Mono;
  font-weight: 300;
}
.postexcerpt{
  margin: 10px 20px;
  margin-right: 30px;
  font-family: Roboto Mono, monospace;
  font-weight:300;
}
.readmorelink {
  text-decoration: none;
  color: #3a405a;
  margin: 20px 20px;
  font-family: Roboto Mono, monospace;
  font-weight:500;
}
.readmorelink:hover {
  border-bottom: 3px dotted #3a405a;
  text-decoration: none;
}
.pager {
  margin: 0 10px 100px -20px;
}
.next:hover {
  background-color: #4d6077;
}
.previous:hover {
  background-color: #4d6077;
}
.next{
  float: right;
  background-color: #1a222c;
  border: none;
  color: white;
  padding: 15px;
  text-decoration: none;
  font-family: Roboto Mono;
  font-size: 16px;
  margin: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.previous {
  float: left;
  background-color: #1a222c;
  border: none;
  color: white;
  padding: 15px;
  text-decoration: none;
  font-family: Roboto Mono;
  font-size: 16px;
  margin: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.socials{
  text-align: center;
  width: 100%;
}
span .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
span .fa-facebook {
  background: #3B5998;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
span .fa-twitter {
  background: #55ACEE;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
span .fa-at {
  background: #b5e853;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
span .fa-rss {
  background: #ef651a;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
span .fa-facebook:hover {
  background: #576a93;
  text-shadow: none;
  cursor: pointer;
}
span .fa-twitter:hover {
  background: #8cc6f2;
  text-shadow: none;
  cursor: pointer;
}
span .fa-at:hover {
  background: #cce0a6;
  text-shadow: none;
}
span .fa-rss:hover {
  background: #e29b76;
  text-shadow: none;
}
@media only screen and (max-width: 1000px) and (min-width: 551px){
  .posttlist{
    margin: 0 auto;
    width: 450px;
    text-align: left;
  }
  hr {
    width: 400px;
  }
  ul {
    margin-left: -10px;
  }
  .footer{
    font-size: 14px;
  }
}
@media only screen and (max-width: 550px) {
  .posttitle {
    margin: 0 15px;
  }
  .postdate {
    margin: 0 25px;
  }
  .posttlist{
    margin: 0 auto;
    width: 380px;
    text-align: left;
  }
  hr {
    width: 340px;
  }
  ul {
    margin-left: -20px;
  }
  .footer{
    font-size: 12px;
  }
  .pager {
    margin: 0px 10px 100px -30px;
  }
  .next {
    padding: 15px;
    font-size: 14px;
    margin: 5px;
  }
  .previous {
    padding: 15px;
    font-size: 14px;
    margin: 5px;
  }
  .fa-linkedin {
    display: none;
  }
  .header {
    margin: -50px auto;
  }
}
