html {
  /*background-color: #3a405a; #46494c; 333533; 293241; 3d5a80; 69585f;  */
  /* LIGHT: #cfd2cd; a6a2a2; deeaee*/
  background-color: #f9dfde;
  position: relative;
  min-height: 100%;
}
a{
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  text-decoration: none;
  color: #eea29a;
}
a:hover {
  /* border-bottom: 3px dotted #b5e853; */
  text-decoration: none;
  text-shadow:0 0 5px #eea29a;
}
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow:hidden;
}
img {
max-width: 650px;
display: block;
margin-left: auto;
margin-right: auto;
}
.contenttitle {
  display: inline;
  margin-left: 0;
  text-align: center;
}
.contentdiv {
  padding: 80px 150px 20px 150px;
  max-width: 700px;
  margin: 0 auto;
  color: #a3a380;
  font-family: Ubuntu Mono;
  font-size: 16px;
}
h1,h2,h3,h4 {
  color: #000;
}
/* 393d3f; */
.nav {
  height: 60px;
  width: 100%;
  background-color: #0d1b2a;
  position: fixed;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 24px;
  color: #fff;
  text-align: center;
  width: calc(100% - 94px - 160px);
  padding: 10px 0;
}
.nav > .nav-header > .nav-title2 {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 12px;
  color: #fff;
  text-align: center;
  width: 120px;
  float: right;
  padding: 20px 0;
  margin: 0 20px;
}
.button {
  background-color: #6290c3;
  border: none;
  border-radius: 10%;
  color: white;
  padding: 6px 8px;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 10px 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #eea29a;
  color: white;
  border-bottom: none;
  text-shadow: none;
  drop-shadow: 0 0 20px #000;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
@media (max-width:550px) {
  .nav  {
    position: fixed;
    right: 0px;
    top: 0px;
  }
  .button {
    background-color: #3a405a;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button:hover {
    background-color: #636984;
    color: white;
    border-bottom: none;
    text-shadow: none;
    text-shadow: 0 0 20px #c94c4c;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .nav > .nav-header > .nav-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 94px);
  }
  .nav > .nav-header > .nav-title2 {
    display: none;
  }
}


.lineno {
  color: #6290c3;
  display: inline-block;
  padding: 0 10px;
  margin: 0 5px;
  border-right:2px solid #f7786b;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.highlight {
  color: #6290c3;
}
.nb {
  color: #f7786b;
}
.codeblok{
  overflow-y: auto;
  max-width: 90%;
  white-space: normal !important;
}
.aboutt {
  max-width: 700px;
  margin: 0 auto 50px;
  padding: 0 80px;
  display: block;
}
/* #b5e853 */
.abouthr {
  width: inherit;
  height: 1px;
  border: 0;
  border-top: 4px solid #0d1b2a;
  margin: 15px auto;
  padding: 15px;
}
.aboutpic {
  display: inline;
  width: 20%;
  float:left;
  margin-left: 10px;
}
.picswitch{
  background-image:url('../img/avatar5.jpg');
  border: 4px solid #0d1b2a;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.picswitch:hover {
  background-image:url('../img/avatar.jpg');
  box-shadow: 0 0 20px #0d1b2a;
  transition-timing-function: ease;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}
.aboutdesc {
  display: inline;
  width: 70%;
  color: #a3a380;
  font-family: Ubuntu;
  float:right;
}
.sharetext{
  text-align:center;
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-weight: 100;
  font-size: 30px;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  margin: 50px 0;
}
.socials{
  text-align: center;
  margin: 0 auto 10px auto;
  display: inline;
  max-width: 50%;
  white-space: none;
}
.prevpostspan {
  display: inline;
}
.nextpostspan {
  display: inline;
}
a.prevvpost {
  text-decoration: none;
  font-family: 'Space Mono';
  font-size: 18px;
  font-weight: 400;
  color: #f7786b;
  list-style-type: none;
}
a.prevvpost:hover {
  text-shadow: none;
  font-weight: 700;
}
a.nexttpost {
  text-decoration: none;
  font-family: 'Space Mono';
  font-size: 18px;
  font-weight: 400;
  color: #f7786b;
  list-style-type: none;
}
a.nexttpost:hover {
  text-shadow: none;
  font-weight: 700;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: #576a93;
  color: white;
  -webkit-filter: drop-shadow(3px 3px 3px #222 );
  filter: drop-shadow(3px 3px 3px #222);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.fa-twitter {
  background: #8cc6f2;
  color: white;
  -webkit-filter: drop-shadow(3px 3px 3px #222 );
  filter: drop-shadow(3px 3px 3px #222);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.fa-at {
  background: #a9e896;
  color: white;
  -webkit-filter: drop-shadow(3px 3px 3px #222 );
  filter: drop-shadow(3px 3px 3px #222);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.fa-facebook:hover {
  background: #3B5998;
  text-shadow: none;
  cursor: pointer;
}
.fa-twitter:hover {
  background: #55ACEE;
  text-shadow: none;
  cursor: pointer;
}
.fa-at:hover {
  background: #7de25f;
  text-shadow: none;
  cursor: pointer;
}
.twitter-tweet{
  margin: auto;
}
#disqus_thread {
  max-width: 70%;
  margin: 20px auto 130px;
}
a.footera:hover{
  color: #fff;
  border-bottom: 1px dotted #fff;
  text-shadow: none;
}
@media only screen and (max-width: 1000px) and (min-width: 551px){
  .contentdiv {
    padding: 80px 70px 50px 70px;
  }
  img {
  max-width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .codeblok{
    overflow-y: auto;
    max-width: 120%;
    white-space: normal !important;
  }

}
@media only screen and (max-width: 550px) {
.contenttitle {
  margin: 0 auto;
  font-size: 5vw;
  max-width: 100%;
}
.contentdiv {
    max-width: 370px;
    padding: 80px 30px 40px 30px;
    overflow-wrap: break-word;
}
table {
    font-size: 12px;
}
.button {
    padding: 7px 15px;
    margin: 4px 10px;
}
div.col {
  width: 30%;
}
div.col2 {
  width: 70%;
}
img {
  max-width: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.codeblok{
  overflow-y: auto;
  max-width: 120%;
  white-space: normal !important;
}
.aboutt {
  display: inline-block;
  margin: 0 auto 30px;
}
.aboutpic {
  display: inline-block;
  width: 100%;
}
.picswitch{
  margin: 0 auto;
}
.aboutdesc {
  display: inline-block;
  width: 100%;
  padding: 40px 0 0 0;
}
.sharetext{
  display: inline-block;
  margin: 30px 0;
}
.fa {
  padding: 15px;
  font-size: 24px;
  margin: 30px 0;
}
.prevvpost {
  font-size: 16px;
  display: block;
}
.nexttpost {
  font-size: 16px;
  color: #fff;
  display: block;
}
.footer {
  font-size: 12px;
}
a.footera{
  font-size: 12px;
}
a.footera:hover{
  color: #fff;
  border-bottom: 1px dotted #fff;
  text-shadow: none;
}
}
