html {
  background-color: #3a405a;
  position: relative;
  min-height: 100%;
}
a{
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  text-decoration: none;
  color: #b5e853;
}
a:hover {
  /* border-bottom: 3px dotted #b5e853; */
  text-decoration: none;
  text-shadow:0 0 5px #b5e853;
}
.postheader{
  background:#1a222c;
  padding:10px 0;
  margin-bottom:100px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 36px;
  color:#fff;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
}
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow:hidden;
}
img {
max-width: 650px;
display: block;
margin-left: auto;
margin-right: auto;
}
.contenttitle {
  display: inline;
  margin-left: 0;
  text-align: center;
}
.contentdiv {
  padding: 80px 150px 20px 150px;
  max-width: 700px;
  margin: 0 auto;
  color: #FFF;
  font-family: Ubuntu Mono;
  font-size: 16px;
}
h1,h2,h3,h4.contentdiv {
  color: #FFF;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #1a222c;
  position: fixed;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 24px;
  color: #fff;
  text-align: center;
  width: 70vw;
  padding: 10px 0;
}
.nav > .nav-header > .nav-title2 {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 12px;
  color: #fff;
  text-align: center;
  width: 120px;
  float: right;
  padding: 20px 0;
}
.button {
  background-color: #3a405a;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #636984;
  color: white;
  border-bottom: none;
  text-shadow: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
@media (max-width:550px) {
  .nav  {
    position: fixed;
    right: 0px;
    top: 0px;
  }
  .button {
    background-color: #3a405a;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button:hover {
    background-color: #636984;
    color: white;
    border-bottom: none;
    text-shadow: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .nav > .nav-header > .nav-title {
    width: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .nav > .nav-header > .nav-title2 {
    display: none;
  }
}


.lineno {
  color: #6e8898;
  display: inline-block;
  padding: 0 10px;
  margin: 0 5px;
  border-right:2px solid #b5e853;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.highlight {
  color: #6e8898;
}
.nb {
  color: #b5e853;
}
.codeblok{
  overflow-y: auto;
  max-width: 90%;
  white-space: normal !important;
}
.aboutt {
  max-width: 700px;
  margin: 0 auto 50px;
  padding: 0 80px;
  display: block;
}
.abouthr {
  width: inherit;
  height: 1px;
  border: 0;
  border-top: 4px solid #b5e853;
  margin: 15px auto;
  padding: 15px;
}
.aboutpic {
  display: inline;
  width: 20%;
  float:left;
}
.aboutpic > img {
  border: 3px solid #b5e853;
  border-radius: 50%;
}
.aboutdesc {
  display: inline;
  width: 70%;
  color: #fff;
  font-family: Ubuntu;
  float:right;
}
.sharetext{
  text-align:center;
  color: #fff;
  font-family: Roboto Mono, monospace;
  font-weight: 100;
  font-size: 30px;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  margin: 50px 0;
}
.socials{
  text-align: center;
  margin: 0 auto 10px auto;
  display: inline;
  max-width: 50%;
  white-space: none;
}
.prevpostspan {
  display: inline;
}
.nextpostspan {
  display: inline;
}
.prevvpost {
  text-decoration: none;
  font-family: monospace;
  font-weight: 100;
  color: #fff;
  list-style-type: none;
}
a.prevvpost:hover {
  text-shadow: none;
  font-weight: 300;
}
.nexttpost {
  text-decoration: none;
  font-family: monospace;
  font-weight: 100;
  color: #fff;
  list-style-type: none;
}
a.nexttpost:hover {
  text-shadow: none;
  font-weight: 300;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.fa-envelope {
  background: #b5e853;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.fa-facebook:hover {
  background: #576a93;
  text-shadow: none;
  cursor: pointer;
}
.fa-twitter:hover {
  background: #8cc6f2;
  text-shadow: none;
  cursor: pointer;
}
.fa-envelope:hover {
  background: #cce0a6;
  text-shadow: none;
  cursor: pointer;
}
.twitter-tweet{
  margin: auto;
}
#disqus_thread {
  max-width: 70%;
  margin: 20px auto 130px;
}
a.footera:hover{
  color: #fff;
  border-bottom: 1px dotted #fff;
  text-shadow: none;
}
@media only screen and (max-width: 1000px) and (min-width: 551px){
  .contentdiv {
    padding: 80px 70px 50px 70px;
  }
  img {
  max-width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .codeblok{
    overflow-y: auto;
    max-width: 120%;
    white-space: normal !important;
  }

}
@media only screen and (max-width: 550px) {
.contenttitle {
  margin: 0 auto;
  font-size: 5vw;
  max-width: 100%;
}
.contentdiv {
    max-width: 370px;
    padding: 80px 30px 40px 30px;
    overflow-wrap: break-word;
}
table {
    font-size: 12px;
}
.button {
    padding: 7px 15px;
    margin: 4px 10px;
}
div.col {
  width: 30%;
}
div.col2 {
  width: 70%;
}
img {
  max-width: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.codeblok{
  overflow-y: auto;
  max-width: 120%;
  white-space: normal !important;
}
.aboutt {
  display: inline-block;
  margin: 0 auto 30px;
}
.aboutpic {
  display: inline-block;
  width: 100%;
}
.aboutdesc {
  display: inline-block;
  width: 100%;
  padding: 40px 0 0 0;
}
.sharetext{
  display: inline-block;
  margin: 30px 0;
}
.fa {
  padding: 15px;
  font-size: 24px;
  margin: 30px 0;
}
.prevvpost {
  font-size: 16px;
  color: #fff;
  display: block;
}
.nexttpost {
  font-size: 16px;
  color: #fff;
  display: block;
}
.footer {
  font-size: 12px;
}
a.footera{
  font-size: 12px;
}
a.footera:hover{
  color: #fff;
  border-bottom: 1px dotted #fff;
  text-shadow: none;
}
}
