<!DOCTYPE html>
<html lang="en">
  {% include post_head.html  content3=page.excerpt content4=paginator.page %}
  <body >
    <canvas id="map" width="200" height="729" style="cursor: crosshair; width: 200px; height: 729.876px;"></canvas>
    <div class="contentdiv">
    <div class="post_date">
        {{ page.date | date_to_long_string }}
      </div>
      <div class="post_title">
        {{ page.title }}
      </div>
      {{ content }}
    </div>
    <div class="aboutt">
      <hr class="abouthr">
      <span class="aboutpic">
        <div class="picswitch">
            <img class="bottom" src="assets/img/avatar.jpg" />
            <img class="top" src="assets/img/avatar5.jpg" />
        </div>
      </span>
      <!-- <span class="aboutdesc">
        Nico is a sys admin at a data center company in Frankfurt, Germany. He's picked up linux administration a while back and would like to document his work somewhere to help others and who knows, maybe this will even come in handy for himself one day!
      </span> -->
    </div><br>
    <div class="sharetext">
    <span class="prevpostspan">
        {% if page.previous.url %}
        <a class="prevvpost" href="{{ page.previous.url  | prepend: site.baseurl }}">&larr; {{page.previous.title}}</a>
        {% endif %}
    </span>
    <span class="socials">
      <a aria-label="Share Twitter" onClick="window.open('https://twitter.com/share?url=https%3A%2F%2Fndo.dev%2F%23{{ page.title | uri_escape }}&via=ndom91&related=linux&hashtags=sysadmin%2Clinux&text=Check%20out%20ndom91%27s%20page%20on%20{{ page.title }}%21','Share Twitter','menubar=no,toolbar=no,scrollbars=no,resizable,height=300,width=600'); return false;" target="_blank"><noscript><a target="_blank" href="https://twitter.com/share?url=https%3A%2F%2Fndo.dev%2F%23{{ page.title | uri_escape }}&via=ndom91&related=linux&hashtags=sysadmin%2Clinux&text=Check%20out%20ndom91%27s%20page%20on%20{{ page.title }}%21"></noscript><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      <a aria-label="Share Facebook" onClick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A//ndo.dev/%23{{ page.title | uri_escape }}&t=ndom91%20linux','Facebook Share','menubar=no,toolbar=no,scrollbars=no,resizable,height=400,width=600'); return false;" target="_blank"><noscript><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//ndo.dev/%23{{ page.title | uri_escape }}&t=ndom91%20linux"></noscript><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
      <a aria-label="Share E-Mail" target="_blank" href="mailto:?body=Hey+Friend%2C%0D%0A%0D%0ACheck%20out%20ndom91%27s%20linux%20admin%20blog%21%0D%0A%0D%0AThis%20post%20is%20about%20{{ page.title }}.%0D%0A%0D%0Ahttps%3A%2F%2Fndo.dev%2F%23{{ page.title | uri_escape }}&subject=ndom91%27s%20linux%20%5Bmis%5Dadventures%20-%20{{ page.title }}"><i class="icon fa fa-at"></i></a>
    </span>
    <span class="nextpostspan">
        {% if page.next.url %}
        <a class="nexttpost" href="{{ page.next.url | prepend: site.baseurl }} ">{{page.next.title}} &rarr;</a>
        {% endif %}
    </span>
    </div>

  <script>
    pagemap(document.querySelector('#map'),{
    viewport: null,
    interval: null
    });
  </script>
</body>
<br>
{% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://iamnico.xyz.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

{% include footer.html %}
</html>
